h1{
  color: blue;
  font-size: 50px;
}
body{
  background-color: black;
  text-align: center;

}
#frame{
  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 20px;


}
#result{
  background-color: rgb(209, 199, 186);
  font-size: 20px;
  margin-top: 30px;
}
#btn{
  border: 0px;
  background-color: blueviolet;
  border-radius: 60px;
  color: aqua;
  font-size: 15px;
  width: 100px;
  height: 30px;
}
#num{
  color: rgb(96, 56, 166);
  font-size: 30px;
  background-color: yellowgreen;
  text-align: center;

}



