body
{
    background-color: rgb(253, 242, 242);
}
h1
{
    color:goldenrod;
}
ul
{
    font-size: 15px;
    background-color: greenyellow;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
#frame{
    width: 550px;
    background-color: black;
    border-radius: 20px;
}
li
{
    text-align: center;
}
a{
    font-size: 20px;
}
p{
    font-weight:border;
    color: blueviolet;
    font-size: 50px;
    text-align: center;
}
    


