a:link,a:visited{
    font-size: 20px;
    color: blue;
    text-decoration: none;

}
a:hover{
  font-size: 30px;
  color: burlywood;
  text-decoration:underline ;

}

a:active{
  color: grey;
}